{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}
{% block css %}
    <link href="css/modern-business.css" rel="stylesheet">
{% endblock %}
{% block content %}
    {% if {{ error }} %}
    <div class="alert alert-error">
        {{ error }}
    </div>
    {% endif %}
    {% if {{ success }} %}
    <div class="alert alert-success">
        {{ success }}
    </div>
    {% endif %}




    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="color:#FF6600;">
                    INGVestor's team
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#FF6600">
                        <h4 style="color:white"><i class="fa fa-fw fa-check"></i> Jean Burellier</h4>
                    </div>
                    <div class="panel-body">
                        <p>Jean is studying at supinfo. He is also a teacher in NodeJS, PHP, JAVA and other languages at Supinfo. He is now delopper at INGVest. </p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#FF6600">
                        <h4 style="color:white"><i class="fa fa-fw fa-gift"></i> Hamza Benbachouch</h4>
                    </div>
                    <div class="panel-body">
                        <p>Hamza is studying at supinfo. He is also a teacher in Windows Server at Supinfo. He has launched a start up in tourism. He is now working in BI at INGVest.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#FF6600">
                        <h4 style="color:white"><i class="fa fa-fw fa-compass"></i> Sébastien de Beauffort</h4>
                    </div>
                    <div class="panel-body">
                        <p>Sébastien is studying at Supinfo. He is a teacher in PL/SQL at Supinfo. He Has lauched a start up in e-learning</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style="color:#FF6600;">INGVesting's</h2>
            </div>
            <div class="col-md-6">
                <p>INGVenture is a crowdfunding platform:</p>
                <ul>
                    <li><strong>Invest with only 10% of risks</strong>
                    </li>
                    <li>Invest in start ups</li>
                    <li>Ask more to your saving account</li>
                    
                </ul>
               
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="/img/404.png" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

       

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; freely gifted to ING</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    

    <!-- Script to Activate the Carousel -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

{% endblock %}