<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title> {% block title %}{% endblock %} - FroggerJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/stylesheets/style.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


    {% block css %}{% endblock %}
    {% block js %}{% endblock %}

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">INGVestor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              {{session.length}}
              {% if session.length %}
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
              {% endif %}
            </li>
          </ul>
          {% if !req.session.userId %}
                  <form class="navbar-form pull-right" action="/login" method="post">
                    <input type="text" class="input-small" name="mail" placeholder="Email">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>
                  {% else %}
                    <a href="/logout" class="btn btn-primary pull-right"><i class="icon-off icon-white"></i> Logout</a>
                  {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>




   

    <div class="container">
        <div class="page-header">
            {% block content %}{% endblock %}
        </div>
    </div>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>