{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    {% if {{ error }} %}
    <div class="alert alert-error">
        {{ error }}
    </div>
    {% endif %}
    {% if {{ success }} %}
    <div class="alert alert-success">
        {{ success }}
    </div>
    {% endif %}


    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" style="border-color:#FF6600;">
                    <div class="panel-heading" style="background-color:#FF6600">
                        <div class="panel-title" style="color:white">Manager - Login</div>
                        
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="loginform" class="form-horizontal" role="form" action="/login" method="post">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="mail" value="" placeholder="username or email">                                        
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                                    </div>
                                    

                                
                            <div class="input-group">
                                      <div class="checkbox">
                                        <label>
                                          <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                        </label>
                                      </div>
                                    </div>


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                      <input type="submit" id="btn-login" href="#" class="btn btn-success" style="background-color:#FF6600; border-color:#FF6600;  " value="Login" />

                                    </div>
                                </div>


                               
                            </form>

                                 



                        </div>                     
                    </div>  
        </div>



    
{% endblock %}