{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}
{% block css %}
    <link href="css/modern-business.css" rel="stylesheet">
{% endblock %}
{% block content %}
    {% if {{ error }} %}
    <div class="alert alert-error">
        {{ error }}
    </div>
    {% endif %}
    {% if {{ success }} %}
    <div class="alert alert-success">
        {{ success }}
    </div>
    {% endif %}




    <!-- Page Content -->
    

    <div class="container">
  
  <!-- upper section -->
  <div class="row">
	<div class="col-sm-3">
      <!-- left -->
      <h3 style="color:#FF6600;"><i class="glyphicon glyphicon-briefcase"></i> {{startup.name}}</h3>
      <hr>
      <div class="btn-toolbar">
	      <div >
		      <!--boutton modal-->
		      <button type="button" data-target="#modalInvest" class="btn btn-success btn-lg col-md-12" data-toggle="modal"  style="background-color:#FF6600; border-color:#FF6600; ">
								  		Invest
				</button>
	      
	      </div>
	  		<div class="row top-buffer">
			</div>
			<div class="row top-buffer">
			</div>
	      <div >
		      <!--boutton éventuels-->
		      <a href="/project/{{ startup.id }}/BIData"><button type="button" class="btn btn-success btn-lg col-md-12" data-toggle="modal"  style="background-color:#FF6600; border-color:#FF6600; ">
								  		Download BI Data
				</button></a>
	      
	      </div>
      </div>
      
  	</div><!-- /span-3 -->
    <div class="col-sm-9">
      	
      <!-- column 2 -->	
       <h3 style="color:#FF6600;"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</h3>  
            
       <hr>
      
	   <div class="row">
            <!-- center left-->	
         	<div class="col-md-7">
			  <div class="panel panel-default">
			  	<div class="panel-heading">
			  		<H4>
			  			Description
			  		</H4>
		  		</div>
			  	<div class="panel-body">
			  		{{startup.description}}
			  	</div>
			  </div>
              	
              <hr>
              
              <div class="panel panel-default">
                  <div class="panel-heading"><h4>Processing Status</h4></div>
                  <div class="panel-body">
                    
                    <small>Complete {{/}}% ({{}}/{{}}€)</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: {{/}}%">
                        <span class="sr-only">72% Complete</span>
                      </div>
                    </div>
                    <small>{{}}Investors ({{/}}% of the total of INGVestor)</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">{{/}}% Complete</span>
                      </div>
                    </div>
                    <small>{{/}} of the money invested on INGVestor</small>
                    <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">{{/}}% Complete</span>
                      </div>
                    </div>

                  </div><!--/panel-body-->
              </div><!--/panel-->                     
              
          	</div><!--/col-->
         
            <!--center-right-->
        	<div class="col-md-5">
 
              	<div class="detailBox">
				    <div class="titleBox">
				      <label>Messages</label>
				        <button type="button" class="close" aria-hidden="true">&times;</button>
				    </div>
				    <div class="commentBox">
				        
				        <p class="taskDescription">Ask your questions to founders.</p>
				    </div>
				    <div class="actionBox">
				        <ul class="commentList">
				            <li>
				                <div class="commenterImage">
				                  <img src="http://lorempixel.com/50/50/people/6" />
				                </div>
				                <div class="commentText">
				                    <p class="">Hello, how mutch client do you already have?</p> <span class="date sub-text">on March 27th, 2015</span>

				                </div>
				            </li>
				            <li>
				                <div class="commenterImage">
				                  <img src="http://lorempixel.com/50/50/people/7" />
				                </div>
				                <div class="commentText">
				                    <p class="">Hello Shara, we already have 5 major clients.</p> <span class="date sub-text">on March 28th, 2015</span>

				                </div>
				            </li>
				            <li>
				                <div class="commenterImage">
				                  <img src="http://lorempixel.com/50/50/people/9" />
				                </div>
				                <div class="commentText">
				                    <p class="">Hello, how long have you been working on this projet?</p> <span class="date sub-text">on March 29th, 2015</span>

				                </div>
				            </li>
				        </ul>
				        <form class="form-inline" role="form">
				            <div class="form-group">
				                <input class="form-control" type="text" placeholder="Your comments" />
				            </div>
				            <div class="form-group">
				                <button class="btn btn-default">Add</button>
				            </div>
				        </form>
				    </div>
				</div>

              
			</div><!--/col-span-6-->
     
       </div><!--/row-->
  	</div><!--/col-span-9-->
    
  </div><!--/row-->
  <!-- /upper section -->
  
  <!-- lower section -->
  
  
</div><!--/container-->
<!-- /Main -->


<footer class="text-center" style="color:#FF6600;">ING - INGVestor</strong></a></footer>


<!-- Modales -->
	<div class="modal fade" id="modalInvest" tabindex="-1" role="dialog" aria-labelledby="modalInvest" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header" style="background-color:#FF6600; ">
	      	<div >
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel" style="color: white;">Invest</h4>
	        </div>
	      </div>
	      <div class="modal-body">
	        <div style="padding-top:30px" class="panel-body" >

	            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
	                <form method="POST" action="/startup/invest-on" class="form-horizontal" role="form">
	                	<div style="margin-bottom: 25px" class="input-group">
	                                <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
									<input type="number" name="money" class="form-control" placeholder="10"/><br />
									
						</div>
						 <input type="text" name="id" class="form-control" value="{{startup.id}}" style="visibility: hidden"/>
						 <input type="text" name="sector" class="form-control" value="{{startup.sector}}" style="visibility: hidden"/>
						 <input type="text" name="name" class="form-control" value="{{startup.name}}" style="visibility: hidden"/>
						
	                    	  <div class="col-sm-12 controls" style="text-align: right;">
	                              <input type="submit" id="btn-login" href="#" class="btn btn-success" style="background-color:#FF6600; border-color:#FF6600;  align: right;" value="Go!" />

	                            </div>
						
					</form>
				</div>


            </div>
	      </div>
	      
	    </div>
	  </div>



{% endblock %}



