{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="row spacer" >
	<div class="span4">
		{% if users|length > 1 %}
		    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addAProject" style="background-color:#FF6600; border-color:#FF6600;">
		  		Add a project
			</button>
		{% else %}
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addAProject" style="background-color:#FF6600; border-color:#FF6600; width=100m">
		  		Add a project
			</button>
		{% endif %}
	</div>
</div>
		                    
 <div class="row top-buffer">
 </div>           
	
	

<!-- 
	Fund a project
	<form method="POST" action="/client/funding">
		<input type="text" name="startup" /><br />
		<input type="text" name="money" /><br />
		<input type="text" name="sector" /><br />
		<input type="text" name="name" /><br />

		<input type="submit" value="go" />
	</form>
	vos projets  -->

<div class="row spacer">
	<div class="span4"></div>
</div>
	
	<div class="row spacer">
		{% for startup in startups %}
		  {% if loop.first %}<ul>{% endif %}
			
	        <div class="panel panel-default" style="border-color: #FF6600;">
	            <div class="panel-body">
	            	<div class="row">
					  <div class="col-md-8">
						  <div class="panel-info">
			                    <p><strong>{{ startup.name }}</strong></p>

			                    <p>{{ startup.description }}</p>
			                </div>
			                <div class="panel-rating" style="color: #FF6600;">
			                    <span class="glyphicon glyphicon-star"></span>
			                    <span class="glyphicon glyphicon-star"></span>
			                    <span class="glyphicon glyphicon-star"></span>
			                    <span class="glyphicon glyphicon-star"></span>
			                    <span class="glyphicon glyphicon-star"></span>
			                    <p style="color: black;">Rate Yourself!</p>
			                </div>
		            	</div>
					  <div class="col-md-4" style="text-align: right; vertical-align: middle;">
					  	<div class="row" style="text-align: right;">
					  		
							  	<a href="/project/{{ startup.id }}"><button type="button" class="btn btn-primary btn-lg col-md-3 col-md-offset-8" data-toggle="modal" data-target="#addAProject" style="background-color:#FF6600; border-color:#FF6600; 	">
							  		Details
								</button></a>
							
						</div>
						<div class="row top-buffer">
 						</div>  
						<div class="row" style="text-align: right;">
							<a href="/project/{{ startup.id }}/invest"><button type="button" class="btn btn-primary btn-lg col-md-3 col-md-offset-8" data-toggle="modal" data-target="#addAProject" style="background-color:#FF6600; border-color:#FF6600; 	">
						  		Invest
							</button></a>
						</div>
					  </div>
					</div>
	                
	                
	            </div>
	        </div>
	    
		  	
		  {% if loop.last %}</ul>{% endif %}
		{% endfor %}
	</div>


	<!-- Modales -->
	<div class="modal fade" id="addAProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header" style="background-color:#FF6600; ">
	      	<div >
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel" style="color: white;">Add a project</h4>
	        </div>
	      </div>
	      <div class="modal-body">
	        <div style="padding-top:30px" class="panel-body" >

	            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
	                <form method="POST" action="/startup/dashboard" class="form-horizontal" role="form">
	                	<div style="margin-bottom: 25px" class="input-group">
	                                <span class="input-group-addon"><i class="glyphicon glyphicon-hand-right"></i></span>
									<input type="text" name="name" class="form-control" placeholder="name"/><br />
						</div>
						 <div style="margin-bottom: 25px" class="input-group">
	                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	                                <textarea id="login-password"  class="form-control" name="description" placeholder="Description..."></textarea>
	                    	</div>
						
	                    	  <div class="col-sm-12 controls" style="text-align: right;">
	                              <input type="submit" id="btn-login" href="#" class="btn btn-success" style="background-color:#FF6600; border-color:#FF6600;  align: right;" value="Go!" />

	                            </div>
						
					</form>
				</div>


            </div>
	      </div>
	      
	    </div>
	  </div>
{% endblock %}

